/* Cascading Stylesheet for Flot graphing NwisWeb pages */
/* $Source: /nwiscvs/nwisweb/web/stylesheets/adr.css,v $ */
/* $Revision: 1.2 $ */
/* $Date: 2014/03/20 18:45:06 $ */
/* $Author: nwisweb $ */

/* Site Specific Text                          */
/* ------------------------------------------- */
.site_tx_header_div {
	margin: 1px;
	color: #990000;
	font-weight: bold;
	font-size: 0.9em;
	padding: 3px 10px;
	cursor: pointer;
	position: relative;
	background-color: #f8f0db;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#site_header_tx {
	padding: .3em;
}
#site_tx {
	padding: 5px 10px;
	background-color: #fafafa;	
}
#collapsingSiteIcon {
        display: inline-block; 
        margin-bottom: -.15em; 
}
